App-header {
 margin: 30px 0;
}

img-fluid {
 max-width: 200px;
 display: block;
 margin: 0 auto
}

footer {
 text-align: center;
 margin: 10px; 
}

em {
 color: tomato
}

.purple {
 color: #845ec2
}

.green {
 color: rgb(107,198,132);
}

input:focus { 
 outline: none !important;
 border-color: #3edbf0;
 box-shadow: 0 0 2px #77acf1;
}

